src/output/Results_ctrl=0_ra=28524_rp=86.0_hl=0.15_90.0.csv
src/output/Results_ctrl=0_ra=72614_rp=176.59_hl=0.15_90.0.csv
src/output/Results_ctrl=0_ra=72649_rp=188.14_hl=0.15_90.0.csv
GRAM_Data/SPICE/spk/planets/de440_GRAM_less_data.bsp
GRAM_Data/SPICE/spk/planets/de440_GRAM.bsp
